.table-container {
  position: relative;
  top: 80px;
  width: 90%;
  font-size: 20px;
  margin: 0% auto;
  font-family: 'Tahoma', sans-serif;
}

.MainDiv {
  background-color: white;
  padding: 10px;
  border-radius: 1vw;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.05);
}

.table-header tr th {
  font-weight: 400 !important;
}

tbody tr td {
  color: rgb(90, 90, 90);
}

.dt-buttons {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.dt-buttons button {
  background-color: rgb(255, 255, 255);
  border-style: none;
  border-radius: 5px;
  width: 75px;
  color: rgb(90, 90, 90);
  font-size: 20px;
}

.dt-buttons button:hover {
  background-color: #f2f2f2;
  border-style: none;
  border-radius: 5px;
  width: 75px;
  color: rgb(90, 90, 90);
  font-size: 20px;
}


/* action buttons */
.fa-pen{
  cursor: pointer;
  margin-right: 1vw;
}
.fa-trash{
  cursor: pointer;
}
.fa-pen:hover{
  color: #0000006e;
}
.fa-trash:hover{
  color: #0000006e;
}

.dataTables_wrapper .dataTables_length select {
  cursor: pointer;
}

.top{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.bottom{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* delete */
.popupContainer {
  padding: 16px;
  text-align: center;
}

.modal {
  display: none; 
  position: fixed; 
  z-index: 9999; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: #0000006e;
  padding-top: 50px;
}


.modal-content {
  background-color: #fefefe;
  position: absolute;
  top: 0; right: 0;
  bottom: 0; left: 0;
  margin: auto; 
  border-style: none;
  height: 20%;
  width: 30%; 
  border-radius: 1vw;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.05);
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
  

/* edit */
.popupContainer-edit {
  padding: 5%;
  text-align: center;
}
.edit-title{
  margin-bottom: 5%;
  font-size: 24px;
  font-weight: 500;
}

.modal-edit {
  font-size: 16px;
  display: none; 
  position: fixed; 
  z-index: 9999; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: #0000006e;
}
/* input field */
.popupContainer-edit .form-control{
  height: auto;
}

.modal-content-edit {
  background-color: #fefefe;
  position: absolute;
  top: 0; right: 0;
  bottom: 0; left: 0;
  margin: auto; 
  border-style: none;
  height: 80%;
  width: 30%; 
  border-radius: 1vw;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.05);
}

.clearfix-edit::after {
    content: "";
    clear: both;
    display: table;
}

/* edit log message */
.popupContainer-edit-log {
  padding: 16px;
  text-align: center;
}

.modal-edit-log {
  display: none; 
  position: fixed; 
  z-index: 9999; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: #0000006e;
  padding-top: 50px;
}


.modal-content-edit-log {
  background-color: #fefefe;
  position: absolute;
  top: 0; right: 0;
  bottom: 0; left: 0;
  margin: auto; 
  border-style: none;
  height: 12%;
  width: 30%; 
  border-radius: 1vw;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.05);
}


/* delete log message */
.popupContainer-delete-log {
  padding: 16px;
  text-align: center;
}

.modal-delete-log {
  display: none; 
  position: fixed; 
  z-index: 9999; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: #0000006e;
  padding-top: 50px;
}


.modal-content-delete-log {
  background-color: #fefefe;
  position: absolute;
  top: 0; right: 0;
  bottom: 0; left: 0;
  margin: auto; 
  border-style: none;
  height: 12%;
  width: 30%; 
  border-radius: 1vw;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.05);
}


/* fail log message */

.popupContainer-fail-log {
  padding: 16px;
  text-align: center;
}

.modal-fail-log {
  display: none; 
  position: fixed; 
  z-index: 9999; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: #0000006e;
  padding-top: 50px;
}


.modal-content-fail-log {
  background-color: #fefefe;
  position: absolute;
  top: 0; right: 0;
  bottom: 0; left: 0;
  margin: auto; 
  border-style: none;
  height: 12%;
  width: 30%; 
  border-radius: 1vw;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.05);
}

#oops-title{
  color: #c95a5a !important;
}